* {
    border: 1px solid red;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: var(--bg-color);
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


input {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: var(--accent);
    background-color: var(--bg-color)#F3F5FC;
    border-style: none;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 500px;
    margin-bottom: 10px;
}

.logo_container {
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

::placeholder {
    color: #0A3871;
}

.input:focus {
    outline: none;
}

.rules_container {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 240px;
    top: 855px;
    gap: 8px;
}

.rules_text {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.exclamation_circle {
    width: 16px;
    height: 16px;
}

.button_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.encriptar {
    background: var(--accent);
    color: var(--bg-color);
    border-style: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.desencriptar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--accent);

background: #D8DFE8;
border: 1px solid #0A3871;
border-radius: 24px;

}

.output_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.munieco {
    width: 336px;
    height: 304px;
}

.output__NotFound_text_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px;
    gap: 16px;
}

.output__NotFound_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    margin: 30px 0 0 0;
}

.output__NotFound_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    margin: 0;
}

.attribution {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    color: #495057;
}
.attribution a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 700;
}

:root {
    --bg-color: #F3F5FC;
    --accent: #0A3871;
}