/* * {
  border: 1px solid red;
} */

html,
body {
  font-family: "Inter";
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: var(--bg-color);
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 1024px;
  margin: auto; /* centers the element within its parent container */
}

textarea {
  width: 100%;
  height: 500px;
  left: 240px;
  margin-top: 168px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: var(--accent);
  background-color: var(--bg-color);
  border-style: none;
}

::placeholder {
  color: #0a3871;
}

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 99.5%;
}

.flex-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.flex-item--logo {
  width: 120px;
  height: 1024px;
  margin: 0 0 0 40px;
}

.logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
}

.flex-item--input {
  width: 680px;
  height: 1024px;
  margin: 0 80px;
}

.input:focus {
  outline: none;
}

.rules_container {
  display: flex;
  flex-direction: row;
  margin-top: 170px;
}

.rules_container img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.rules_text {
  font-size: 12px;
  margin: 0;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  width: 680px;
  height: 67px;
}

.encriptar,
.desencriptar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  font-size: 16px;
}

.encriptar {
  background: var(--accent);
  color: var(--bg-color);
  border-color: var(--accent);
}

.desencriptar {
  background: var(--bg-color);
  border: 1px solid var(--accent);
  color: var(--accent);
}

.desencriptar:hover {
  background: var(--decrypt);
}

.flex-item--output {
  width: 400px;
  height: 1024;
  margin: 0 40px 0 0;
}

.output_container__empty,
.output_container__full {
  width: 400px;
  height: 944px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  margin-top: 40px;
}

.output_container__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output_container__full {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1px;
}

.outputText {
  width: 336px;
  height: 773px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #495057;
  word-wrap: break-word;
  margin: 32px;
  overflow-y: auto;
}

.copiar {
  width: 336px;
  height: 67px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  background: #ffffff;
  margin: 0 32px;
  font-size: 16px;
  color: #0a3871;
}

.munieco {
  width: 334px;
  height: 302px;
  margin: 243px 32px 0 32px;
}

.output__NotFound_text_container {
  margin: 32px;
}

.output__NotFound_title {
  text-align: center;
  margin-bottom: 16px;
}

.output__NotFound_text {
  text-align: center;
  color: #495057;
}

#empty {
  display: block;
}

#full {
  display: none;
}

:root {
  --bg-color: #f3f5fc;
  --accent: #0a3871;
  --decrypt: #d8dfe8;
}

@media screen and (max-width: 768px) {
  html,
  body {
    max-width: 768px;
    height: 1174px;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 768px;
    min-height: 1174px;
    margin: 0 auto; /* centers the element within its parent container */
  }

  textarea {
    margin: 0;
    height: 550px;
  }

  footer {
    position: absolute;
    bottom: -140px;
  }

  .flex-container {
    flex-direction: row;
  }

  .flex-item--logo {
    width: 688px;
    height: 47px;
    margin: 73px 0 0 40px;
  }

  .logo_container {
    align-items: flex-start;
    margin: 0;
  }

  .flex-item--input {
    width: 688px;
    height: 697px;
    margin: 120px 40px 0 40px;
  }

  .rules_container {
    margin: 46px 0 0 0;
  }

  .button_container {
    width: 688px;
  }

  .flex-item--output {
    display: flex;
    width: 688px;
    margin: 68px 0 0 0;
  }

  .output_container__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 688px;
    height: 133px;
    margin: 0 40px;
  }

  .output_container__full {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 688px;
    height: auto;
    margin: 0 40px;
  }

  .outputText {
    width: 624px;
    height: 133px;
    overflow-y: auto;
  }

  .copiar {
    width: 624px;
    height: 67px;
    margin: 0 32px 32px 32px;
  }

  .output__NotFound_text_container {
    width: 688px;
  }

  .output__NotFound_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-top: 32px;
  }
  .munieco {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  html,
  body {
    min-width: 375px;
    min-height: 933px;
    max-height: 1715px;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 375px;
    min-height: 933px;
    max-height: 2000px;
    margin: 0 auto; /* centers the element within its parent container */
  }

  textarea {
    margin: 0;
    height: 274px;
  }

  footer {
    position: absolute;
    bottom: -140px;
    font-size: 10px;
  }

  .flex-container {
    flex-direction: row;
  }

  .flex-item--logo {
    width: 688px;
    height: 47px;
    margin: 24px 327px 24px 16px;
  }

  .logo_container {
    align-items: flex-start;
    margin: 0;
  }

  .flex-item--input {
    width: 343px;
    height: 274px;
    margin: 56px 16px 0 16px;
  }

  .rules_container {
    margin: 46px 0 0 0;
  }

  .button_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 343px;
    height: 158px;
  }

  .flex-item--output {
    display: flex;
    width: 327px;
    margin: 64px 24px 40px 24px;
  }

  .output_container__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 327px;
    height: 133px;
    margin: 64px 24px 40px 24px;
  }

  .output_container__full {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 327px;
    height: auto;
    margin: 64px 24px 40px 24px;
  }

  .outputText {
    width: 624px;
    height: 133px;
    overflow-y: auto;
  }

  .copiar {
    width: 624px;
    height: 67px;
    margin: 0 32px 32px 32px;
  }

  .output__NotFound_text_container {
    width: 263px;
    height: 122px;
  }

  .output__NotFound_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-top: 32px;
  }
  .munieco {
    display: none;
  }
}
